<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://buddyberglund.netlify.com/">Buddy</a>. A Systems Administrator, Programmer, and occasional Web Developer as part of a coding bootcamp through University of Denver.
  </p>
  <br />
  <p>
    He is currently looking for new opportunities to show off the coding skills that he has been building since the age of 10, and has further honed through this bootcamp.  <a target="_blank" href="http://www.linkedin.com/in/arvid-berglund-iii">Buddy's LinkdIn</a>
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Buddy Berglund</h2>
      <br />
      <p>
        Buddy Berglund has been a Systems Administrator for 18 years, was in the U.S. Army for 4 years prior to that, and has been writing code and learning new programming languages for over 30 years.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
